{% extends 'base.html.twig' %}

{% block title %}La boutique {{ shop.name }}{% endblock %}

{% block body %}

<div>
    <h1 class="handwritting-text text-center mt-5">Bienvenue chez</h1>
    <h2 class="text-center mb-2">{{ shop.name }}</h2>
    <p class="text-center font-italic color-primary">{{ shop.adress }}</p>
</div>

    <div class="container">
        <div class="row">
            {{ dump(products) }}
            {% for product in products %}
                <div class="d-flex justify-content-center col-12 col-sm-12 col-md-6 col-xl-4 mb-5" style="height: 40vh">
                    <div class="card mh-30">
                        <div class="h-50">
{#                            <a href="{{ path('#') }}">#}
                                <img src="{{ product.picture }}" class="img-card card-img-top mh-100" alt="Photo de la boutique">
{#                            </a>#}
                        </div>

                        <div class="card-body text-center">
                            <p class="card-text font-weight-bold color-primary mb-1">{{ product.name }}</p>
                            <p class="card-text color-primary">{{ product.price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>



{% endblock %}
